body {
  background-image: url('../images/green-goblin.png');
  margin-top: 20px;
}

h1,
h2 {
  margin: 0;
  padding: 15px;
}

button {
  margin: 10px;
}

.main-content {
  background-color: white;
  padding: 20px 20px;
}
